@import "./materialize/sass/materialize.scss";

.date {
    margin-bottom: 0;
    padding: 0;
    color: whitesmoke;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    &:nth-child(odd) {
        background-color: rgb(58, 74, 110);
    }    
    &:nth-child(even) {
        background-color: rgb(32, 43, 70);
    }
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}
